@font-face {
    font-family: 'Poppins';
    src: url('./Poppins-Regular.ttf');
}

body {
    font-family: 'Poppins';
    background-color: #f0f0f0;
    display: flex;
    align-items: center ;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    color: black;
}

html {
    height: 100%;
}

.login-form {
    background-color: #ffffff;
    border: 2px solid #ccc;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    min-width: 250px;
}

input {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.form-box {
    margin-bottom: 0.5em;
}

.title {
    text-align: center;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;

}

.submit-btn:hover {
    box-shadow: #000000 1px 1px 1px;
    transform: translateX(1px) translateY(1px);
}

.credit {
    font-size: small;
    position: fixed;
    bottom: 5px;
    left: 5px;
}