@font-face {
    font-family: 'Poppins';
    src: url('./Poppins-Regular.ttf');
}
body {
    margin: 0;
    font-family: 'Poppins';
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu {
    background-color: #ffffff;
    border: 2px solid #ccc;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    min-width: 250px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 150px;
}

.button:hover {
    background-color: #2980b9;
}

/* Responsive Design */
@media (max-width: 768px) {
    .button {
        width: 100%;
        margin: 5px 0;
    }
    
    /* Consider providing more specific class names for better clarity */
    .container {
        flex-direction: column;
    }
}

.button i {
    font-size: xx-large;
    margin-bottom: 0.5em;
}
