@font-face {
    font-family: 'Poppins';
    src: url('./Poppins-Regular.ttf');
}

body {
    font-family: 'Poppins';
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 0;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: -999;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF;
}

.form-group {
    margin-bottom: 20px;
    z-index: 9999;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#ma-hoc-sinh, #loai-vi-pham {
    width: 100%;
}

select {
    appearance: none;
}

#summary-type {
    width: auto;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.right-button {
    float: right;
}

button:hover {
    background-color: #45a049;
}

.suggest-container {
    position: fixed;
    background: #eee;
    z-index: 9999;
}

.suggest-option {
    padding: 0.25em;
    cursor: pointer;
}

.suggest-option:hover {
    background: #d5d5d5;
}

.filter-popup, .popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #f1f1f1;
    padding: 1em;
    border-radius: 5px;
    z-index: 999999;
}

.popup-content {
    min-width: 25%;
    text-align: center;
}

.filter-overlay, .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000090;
}

.content {
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.options {
    margin-top: 1em;
}

.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
}

table {
    margin-top: 1em;
    width: 100%;
    border-collapse: collapse;
}

table tr th {
    background: #acabab;
    text-align: center;
}

table tr.table-even {
    background: #e2e1e1;
}

table tr.table-odd {
    background: #d0cece;
}

table {
    width: 100%;
}

.violate-cell {
    overflow-y: auto;
    text-overflow: ellipsis;
    max-height: 54px;
}

.violate-cell div {
    margin-bottom: 5px;
}

.hover {
    display: fixed;
    background: #f0f0f0;
    position: absolute;
    
    pointer-events: none;
    max-width: 300px;
    padding: 0.25em;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.right-btn-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

.loading-screen {
    position: fixed;
    z-index: 9999;
    background: #00000090;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loading-screen div {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f0f0f0;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: 8px;
}

.title::after {
    content: '';
    position: relative;
    bottom: 0;
    height: 3px;
    background: #45a049;
    display: block;
    width: 100%;
    animation: loading 1s infinite ease-in-out ;
    animation-fill-mode: both;
}

@keyframes loading {
    0% {
        width: 0%;
    };
    100% {
        width: 100%;
    }
    
}