@font-face {
    font-family: 'Poppins';
    src: url('./Poppins-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    height: 100%;
    background: #f0f0f0;
}

.menu {
    background-color: #007BFF;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.menu nav a {
    font-size: 22px;
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
}

.menu .user-point {
    color: #ffffff;
    margin: 1em;
}

.menu .user-point a {
    color: #f0f0f0;
}

.menu nav a:hover {
    background-color: #1475dc;
    color: #f1f1f1;
}

footer {
    font-size: small;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.container {
	display: flex;
	height: 90%;
        
}

.function-group {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 100px;
    max-width: 400px;
    background: #e5e5e5;
    height: 100%;
    justify-content: flex-start;
    overflow-y: auto;
}

.function-item {
    padding: 1.5em;
    text-align: left;
    width: auto;
}

.function-item-label {
    margin-left: 0.5em;
}

.function-item:hover {
    background: #f9f9f9;
}

.selected {
    background: #f9f9f9;
    border-width: 0 0 0 5px;
    border-style: solid;
    border-color: #4CAF50;
}

.function-group a {
    color: #333;
    text-decoration: none;
}

.function-group a:hover {
    text-decoration: underline;
}

.action-wrapper {
    padding: 1em;
    width: 80%;
    overflow: hidden;
    overflow-y: auto;
}

.filter-popup, .popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #ffffff;
    padding: 1em;
    border-radius: 5px;
    z-index: 1000;
}

.popup-content {
    min-width: 25%;
    text-align: center;
}

.filter-overlay, .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000090;
}

.filter-section {
    margin-bottom: 0.5em;
}

.confirm {
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

input, select {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button input {
    padding: 0;
}

button:hover {
    background-color: #45a049;
}

.data-table {
    margin-top: 1em;
    width: 100%;
    border-collapse: collapse;
}

.data-table tr th {
    background: #b1afaf;
    text-align: center;
}

.data-table tr.table-even {
    background: #dfdfdf;
}

.data-table tr.table-odd {
    background: #ffffff;
}

.table-wrapper {
    text-align: center;
}

.table-wrapper .data-table {
    text-align: left;
}

.pages ul li {
    display: inline-block;
    list-style: none;
}

.page-selected {
    background-color: #45a049;
}

.set-page {
    width: 30px;
}

.filter-section input[type=text] {
    width: 100px;
}

#progress-wrp {
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
    z-index: -1;
  }
  
  #progress-wrp .progress-bar {
    height: 100%;
    border-radius: 3px;
    background-color: #f39ac7;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
  }
  
  #progress-wrp .status {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000;
  }

  .suggest-menu {
    position: fixed;
    background: #eeeeee;
    box-shadow: 5px 5px 5px #000000;
    
  }

  .suggest-option {
    cursor: pointer;
    padding: 0.25em;
  }

  .suggest-option:hover {
    background: #dddddd;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:visited {
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  .loading-screen {
    position: fixed;
    z-index: 9999;
    background: #00000090;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loading-screen div {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f0f0f0;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: 8px;
}

.title::after {
    content: '';
    position: relative;
    bottom: 0;
    height: 3px;
    background: #45a049;
    display: block;
    width: 100%;
    animation: loading 1s infinite ease-in-out ;
    animation-fill-mode: both;
}

@keyframes loading {
    0% {
        width: 0%;
    };
    100% {
        width: 100%;
    }
    
}