<h3 class="list-title">${list_title}</h3>
<iframe src="" frameborder="0" style='display: none;' class='download'></iframe>
<div class='edit'>
    <button class='download-btn'>Xuất</button>
    <button>Nhập</button>
    <button class="open-filter">Lọc</button>
</div>
<div class="pages"></div>
<div class="filter-overlay" style="display: none;"></div>
<div class='filter-popup' style="display: none;">
    
    <h4 class="filter-label">Lọc danh sách</h4>
    <form action="" method="">
        <div class="max filter-section">
            Hiển thị <input type="number" min="1" max="50" value='10' name="max" class="max-filter"/> phần tử 1 trang.
        </div>
        <div class='search filter-section'>
            Tìm kiếm
            <input type="text" name="search" id="search">
            tại trường
            <select name="field" id="field"></select>
        </div>
        <div class="date filter-section">
            Từ ngày <input type="date" name="date-start" id="date-start"> đến <input type="date" name="date-end" id="date-end">
        </div>
        <div class="confirm filter-section">
            <button type="button" class="close-filter">Hủy bỏ</button>
            <button type="button" class="confirm-filter">Xác nhận</button>
        </div>
    </form>
</div>
<div class="table-wrapper">
    Đang tải dữ liệu...
</div>