<div class="pages">${pages}</div>
<div class='edit'>
    <input type="button" value="Xuất" />
    <input type="button" value="Nhập" />
    <input type="button" value="Lọc" />
</div>
<div class='filter-popup'>
    <form action="" method="get">
        <div class="max">
            Hiển thị <input type="number" min='1' max='50' value='${max}' /> phần tử 1 trang.
        </div>
        <div class='search'>
            Tìm kiếm
            <input type="text" name="search" placeholder="Bỏ trống để bỏ qua">
        </div>
        
    </form>
</div>