<h3 class="list-title">${list_title}</h3>
<iframe src="" frameborder="0" style='display: none;' class='download'></iframe>
<div class='edit'>
    <button class='download-btn'>Xuất</button>
    <a href='${import_link}'><button>Nhập</button></a>
    <button class="open-filter">Lọc</button>
</div>
<div class="pages"></div>
<div class="page-info"></div>
<div class="filter-overlay" style="display: none;"></div>
<div class='filter-popup' style="display: none;">
    
    <h4 class="filter-label">Lọc danh sách</h4>
    <form action="" method="">
        ${filter_max}
        ${filter_search}
        ${filter_date}
        <div class="confirm filter-section">
            <button type="reset" class="reset-filter">Đặt lại</button>
            <button type="button" class="close-filter">Hủy bỏ</button>
            <button type="button" class="confirm-filter">Xác nhận</button>
        </div>
    </form>
</div>
<div class="table-wrapper">
    Đang tải dữ liệu...
</div>