<div class="pages">${pages}</div>
<div class='edit'>
    <button>Xuất</button>
    <button>Nhập</button>
    <button class="open-filter">Lọc</button>
</div>
<div class="filter-overlay" style="display: none;"></div>
<div class='filter-popup' style="display: none;">
    
    <h4 class="filter-label">Lọc danh sách</h4>
    <form action="" method="get">
        <input type="hidden" name="window" value="${user_window}"/>
        <input type="hidden" name="action" value="${user_action}"/>
        <input type="hidden" name="page" value="${user_page}"/>
        <div class="max filter-section">
            Hiển thị <input type="number" min="5" max="50" value='${max}' name="max"/> phần tử 1 trang.
        </div>
        <div class='search filter-section'>
            Tìm kiếm
            <input type="text" name="search" placeholder="Bỏ trống để bỏ qua">
        </div>
        <div class="date filter-section">
            Từ ngày <input type="date" name="date-start" id="date-start"> đến <input type="date" name="date-end" id="date-end">
        </div>
        <div class="confirm filter-section">
            <button type="button" class="close-filter">Hủy bỏ</button>
            <button type="submit">Xác nhận</button>
        </div>
    </form>
</div>
<table class="data-table">
${table_content}
</table>