<div class="suggest-container">

</div>
<div class="container">
    <h1>POS Vi Phạm</h1>
    <div class="form-group">
        <label for="ma-hoc-sinh">Mã Học Sinh:</label>
        <input type="text" id="ma-hoc-sinh" autocomplete="off" placeholder="Nhập mã học sinh" name="id">
    </div>
    <div class="form-group info">
        
    </div>

    <div class="form-group">
        <label for="loai-vi-pham">Chọn Loại Vi Phạm:</label>
        <select id="loai-vi-pham">
            <option value="">Đang tải...</option>
        </select>
    </div>
    <div class="form-group" style="clear: both;">
        <button class="right-button">Xác Nhận</button>
    </div>
</div>