<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/login.css">
    <title>Đăng nhập</title>
</head>
<body>
    <div class="title"><h1>QUẢN LÝ HỌC SINH</h1></div>
    <div class="form-wrapper">
    
    <div class="login-form">
        <form action="" method="post">
            <div class="usr-box form-box">
                <div class="usr-label label">Tên người dùng</div>
                <input type="text" name="username" id="username" autocomplete="off">
            </div>
            <div class="pwd-box form-box">
                <div class="usr-label label">Mật khẩu</div>
                <input type="password" name="password" id="username">
            </div>
            <div class="submit-box form-box">
                <input type="submit" value="Đăng nhập" class="submit-btn">
            </div>
        </form>
        <div class="error-box">
            ${error_code}
        </div>
    </div>
</div>
<div class="credit">Dự án cuộc thi sáng tạo dành cho thanh niên, thiếu niên nhi đồng của THPT Vĩnh Kim</div>
</body>
</html>