<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/pos.css">
    <script src="./js/jquery/jquery.min.js"></script>
    <title>POS Vi Phạm</title>
</head>
<body>
    
    ${pos_content}
    <div class="popup" style="display: none;">
      <div class="popup-content">
        <h2 class="popup-title"></h2>
        <p class="popup-message"></p>
        <button class="close-popup">OK</button>
      </div>
    </div>
    <div class="loading-screen" style="display: none;">
      <div class="title"><h2>Vui lòng chờ</h2></div>
    </div>
</body>
<script src="./js/qlhs/pos.js"></script>
<script src="${javascript_file}"></script>
</html>