<iframe src="" frameborder="0" class="download" style='display: none;'></iframe>
<div class="stat-container">
    <div class="hover"></div>
    <h1 class="window-title">${window_title}</h1>
    <div class="content">
        <h3 class="content-title">Cài đặt sơ kết</h3>
        <form action="" class="stat-view-options">
            <label class="form-label summary-label">Sơ kết theo</label>
            <input type="checkbox" name="option-none" class="record-option none">Toàn bộ<br>
            <input type="checkbox" name="option-date" class="record-option date">Ngày<br>
            <input type="checkbox" name="option-class" class="record-option class">Lớp<br>
            <div class="options">

            </div>
        </form>
    </div>
    <div class="content">
        <h3 class="content-title">Xem trước bảng sơ kết</h3>
        <div class="table-container">
            <table class='preview-table'></table>
        </div>
    </div>
    <div class="content">
        <h3 class="content-title">Xuất</h3>
        <button class="excel normal-button" type="button">Xuất ra Excel</button>
        <button class="email normal-button" type="button">Gửi Mail cho GVCN</button>
    </div>
</div>
