
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý học sinh</title>
    <link rel="stylesheet" href="assets/css/workframe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="./js/jquery/jquery.min.js"></script>
    
</head>
<body>
    <input type="hidden" name="window" class='user-window' value="${user_window}"/>
    <input type="hidden" name="action" class='user-view' value="${user_view}"/>
    <div class="popup" style="display: none;">
      <div class="popup-content">
        <h2 class="popup-title"></h2>
        <p class="popup-message"></p>
        <button class="close-popup">OK</button>
      </div>
    </div>
    <div class="menu">
        <nav>
            <a href="${base_url}">Trang chủ</a>
            <a href="${base_url}info">Giới thiệu</a>
            <a href="${base_url}help">Trợ giúp</a>
        </nav>
        <div class='user-point'>
            Xin chào, ${username}! <a href='./logout'>Đăng xuất</a>
        </div>
         
        
    </div>
    <div class="container">
    	<section class="function-group">
		      ${sidebar}
		 </section>
		 <section class="action-wrapper">
			 ${action_window}
		</section>
    </div>
    

    <footer>
      <p>Liên hệ: quanlyhocsinhphtpvk@gmail.com</p>
      <p>
        @2023 Bản quyền thuộc về Phan Hoài Linh - Nguyễn Lê Phi Long lớp 12.5
      </p>
    </footer>
    <script src="${javascript_file}"></script>
    <script src="./js/qlhs/app.js"></script>
    <script src="./js/qlhs/file_upload.js"></script>
</body>
</html>
