
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý học sinh</title>
    <link rel="stylesheet" href="assets/css/workframe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="./js/jquery/jquery.min.js"></script>
    
</head>
<body>
    <input type="hidden" name="window" value="${user_window}"/>
    <input type="hidden" name="action" class='action-data' value="${user_action}"/>
    <div class="menu">
        <nav>
            <a href="#">Trang chủ</a>
            <a href="#">Giới thiệu</a>
            <a href="#">Trợ giúp</a>
        </nav>
        <div class='user-point'>
            Xin chào, ${username}! <a href='./logout'>Đăng xuất</a>
        </div>
         
        
    </div>
    <div class="container">
    	<section class="function-group">
		      ${sidebar}
		 </section>
		 <section class="action-wrapper">
			 ${action_window}
		</section>
    </div>
    

    <footer>
      <p>Liên hệ: quanlyhocsinhphtpvk@gmail.com</p>
      <p>
        @2023 Bản quyền thuộc về Phan Hoài Linh - Nguyễn Lê Phi Long lớp 12.5
      </p>
    </footer>
    <script src="./js/qlhs/app.js"></script>
    
</body>
</html>
